.invalidInput {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalidInput:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.warning {
  color: #b40e0e;
  font-size: 1rem;
  text-align: center;
}
