.Search {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, 10%);
  grid-column: 1/3;
}

.SearchBar {
  grid-column: 4/15;
  grid-row: 3/8;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: large;
}

input ~ Button {
  grid-column: 15/16;
  grid-row: 3/8;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: large;
  background: darkseagreen;
}

.title {
  grid-row: 1/5;
  grid-column: 2/4;
  font-size: 1.7rem;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 1rem;
}

.attentionMessage {
  grid-column: 4/13;
  grid-row: 7/8;
  color: red;
}
