.logStatus {
  grid-column: 3/4;
}

h1 {
  width: 10%;
  margin-left: 15rem;
  font-weight: bolder;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1:hover {
  color: rgb(22, 121, 121);
}
